
.icon-scissors:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-folder-open:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-award:before { content: '\e806'; } /* '' */
.icon-off:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-arrows-cw:before { content: '\e809'; } /* '' */
.icon-user-delete:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e80b'; } /* '' */
.icon-basket:before { content: '\e80c'; } /* '' */
.icon-resize-full-outline:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-logout:before { content: '\e814'; } /* '' */
.icon-cog-outline:before { content: '\e815'; } /* '' */
.icon-flash:before { content: '\e816'; } /* '' */
.icon-key:before { content: '\e817'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */